* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi-Regular";
    outline: none;
    color: var(--neutral900);
    list-style-type: none;
}

input,
input:focus,
input:hover {
    outline: none;
}
.pl1-tag {
    font-size: 0.6em !important;
}
body.main {
    padding-top: 4rem;
    margin: 0 auto;
}
body.auth {
    padding-top: 3rem;
}
header {
    background-color: var(--surface);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}
header.main {
    padding: 0.5em 1.5em;
    box-shadow: 0 2px 10px #1111112a;
}
header.auth {
    padding: 0.5em 1em;
}
.org-id {
    gap: 0.5rem;
}
.org-id img {
    border-radius: 0.5em;
    width: 40px;
    height: 40px;
}
.org-id p {
    font-size: 1.3rem;
    white-space: nowrap;
}
.hof {
    gap: 1em;
}

nav {
    padding: 0.5rem;
    display: flex;
}
.nav-list {
    gap: 1rem;
    font-size: 0.8rem;
}
.nav-item {
    padding: 0.2em;
}
.nav-item:hover {
    cursor: pointer;
}
.nav-flow {
    position: relative;
    gap: 0.5em;
}
.nav-flow > i {
    transition: 0.1s ease-in;
}
.nav-flow:hover > i {
    transform: rotate(-180deg);
}
.nav-flow:hover .flow {
    display: flex;
}
.nav-flow .flow {
    padding: 1em;
    background-color: var(--surface-secondary);
    position: absolute;
    top: 100%;
    left: 50%x;
    opacity: 0;
    animation: fade-opacity-in 0.3s ease-in forwards;
    display: none;
}
.cat-flow-cont-d {
    display: flex;
}
.cat-flow-cont-m {
    display: none;
}
.nav-category-listing {
    width: clamp(250px, 40vw, 700px);
}
.close-m-nav {
    display: none;
}
.actions-container {
    gap: 0.5rem;
}
.open-search-tab,
.open-m-nav {
    display: none;
}
.search-context {
    position: relative;
}
.search-container {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
    background-color: var(--brand50);
    width: clamp(200px, 30vw, 700px);
}
.search-container:focus-within {
    box-shadow: 0 2px 10px #11111117;
}
.search-container i {
    color: var(--neutral400);
}
.search-container input {
    width: 100%;
}
#cart-counter {
    top: -0.2em;
    right: 0;
    color: var(--brand500);
}
.user-center {
    padding: 0.5rem;
    border-radius: 0.5rem;
    gap: 0.2rem;
}
.user-center button {
    padding: 0.4em;
    border-radius: 50%;
    transition: 0.3s ease;
    position: relative;
    cursor: pointer;
}
.user-center button:hover {
    background-color: var(--neutral50);
}

.user-dd-context {
}
.user-dd-context:hover #nsri2xe,
.user-dd-context:focus-within #nsri2xe {
    display: block;
}
#nsri2xe {
    background-color: var(--brand50);
    display: none;
    top: 100%;
    right: 0;
    width: fit-content;
}
#nsri2xe div * {
    white-space: nowrap;
}

.footer {
    background-color: #f9fafb;
    color: #4b5563;
    width: 100%;
}

.newsletter-section {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.newsletter-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.newsletter-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    flex: 1;
}

.newsletter-button {
    padding: 10px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
}

.footer-section {
    flex: 1 1 100%;
}

.footer-section h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column {
    flex: 1 1 calc(50% - 20px);
}

.footer-column h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li a {
    color: #4b5563;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-column ul li a:hover {
    color: #000;
}

.social-icons a {
    color: #6b7280;
    margin-right: 15px;
    font-size: 1.5rem;
}

.footer-bottom {
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-top: 1px solid #e5e7eb;
}

.payment-icons img {
    height: 30px;
    margin-right: 10px;
}

main.home {
    max-width: 1440px;
    margin: auto;
}
.hero-section {
    min-height: 80vh;
    background-image: url("/public/static/images/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.hero-main {
    background-color: #e5eeffea;
    padding-top: 5em;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}
.hero-main .head {
    text-align: center;
    width: clamp(250px, 90vw, 800px);
    margin: 0 auto;
}
.hero-main .head .m {
    font-weight: 700;
    font-size: 40px;
    line-height: 55.35px;
    letter-spacing: 0%;
}
.hero-main .head .t {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #404040;
    margin-top: 1em;
}
.hero-cta {
    margin: 0 auto;
    display: flex;
}
.hero-cta .cta {
    display: flex;
    gap: 0.5em;
    align-items: center;
}
.hero-cta .cta span {
    font-weight: 700;
    line-height: 21.6px;
    color: #002366;
}
.hero-cta .cta svg {
    width: 30px;
}

.hero-show {
    width: clamp(250px, 45vw, 800px);
    margin: 1em auto 0 auto;
    display: flex;
    position: relative;
}
.hero-show img {
    width: 25em;
    margin: 0 auto;
}
.hero-card {
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #fff;
    position: absolute;
    min-width: 10em;
}
.hero-card .h {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #002366;
}
.hero-card .t {
    font-size: 14px;
    line-height: 21.6px;
    color: #404040;
}
.hc-1 {
    top: 4em;
    left: 0;
}
.hc-2 {
    top: 0;
    right: 0;
}
.hc-3 {
    bottom: 4em;
    left: 0;
}
.hc-4 {
    bottom: 5em;
    right: 1em;
}
.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: auto;
    aspect-ratio: 16 / 9;
    background-color: #000;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.navigation button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.navigation button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.indicators {
    text-align: center;
    margin-top: 10px;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: gray;
}
.flash-sales {
    margin: 2rem auto;
}
.listing-head-1 {
    font-size: 18px;
    margin: 0.5em 1.5em;
}
.listing-card {
    padding: 1em 2em;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}
.dress-styles {
    padding: 2em 0;
    margin: 1em auto;
}
.dress-styles .head {
    font-size: 1.6em;
    font-weight: 700;
}
.dress-styles .content {
    width: 80%;
    background-color: var(--brand50);
    padding: 2em;
    border-radius: 1em;
    margin: 1em auto;
    gap: 1.2em;
}
.dress-styles .main {
    gap: 1em;
}
.dress-styles .main > div {
    display: grid;
    gap: 1em;
}
.dress-styles a {
    background-color: var(--surface);
    padding: 1em;
    border-radius: 0.75em;
    height: 12em;
    overflow: hidden;
}
.dress-styles .main > div:nth-child(1) {
    grid-template-columns: 1fr 1.75fr;
}
.dress-styles .main > div:nth-child(2) {
    grid-template-columns: 1.5fr 1fr;
}
.dress-styles .txt {
    font-size: 1.2em;
}
.dress-styles img {
    top: 0;
    right: 0;
}
.top-stores-cont {
    gap: 1em;
    display: flex;
}
.top-stores {
    margin: 2em auto;
}
.top-stores .head {
    background-color: var(--neutral900);
    padding: 2em;
}
.top-stores .head p {
    color: var(--surface);
    font-size: 1.5em;
}
.top-stores .main {
    padding: 2em 0.5em;
    background-color: var(--brand50);
}
.check-out-categories {
    margin: 4em auto;
}
.check-out-categories > .head {
    font-size: 1.5em;
}
.check-out-categories .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 2em;
}
.category-browser-item {
    padding: 1em;
    border: 1px solid var(--neutral200);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.category-browser-item .root {
    font-size: 1em;
    font-weight: 700;
}
.category-browser-item img {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
}
.category-browser-item ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.category-browser-item li a {
    display: flex;
    align-items: center;
    gap: 0.75em;
}
.category-browser-item li span {
    font-family: "Satoshi-Bold";
    font-size: 0.85em;
    color: var(--neutral700);
}
.category-browser-item li a:hover {
    text-decoration: underline;
}

.outfit-matches {
    margin: 4em auto;
}

.outfit-matches > .head {
    font-size: 2em;
    background-color: var(--neutral100);
    padding: 1em;
}
.outfit-matches .content {
}
.outfit-matches .chunk .pre {
    padding: 0.35em 0.5em;
    background-color: var(--neutral900);
    color: var(--surface-secondary);
    font-size: 0.8em;
}
.outfit-matches .matches {
    padding: 1em;
}

.virtual-tryon {
    margin: 15em auto;
    width: 100%;
}
#vtry1 {
    width: 25em;
    z-index: -1;
    top: -12em;
    left: -3em;
}
#vtry2 {
    width: 15em;
    z-index: -1;
    top: 15em;
    right: 0em;
}
.virtual-tryon > .head {
    color: var(--brand600);
    width: 70%;
    margin: 0.2em auto;
    font-size: 2em;
}
.virtual-tryon .features {
    padding: 3em 10em;
}
.virtual-tryon .features .pre {
    font-size: 1.2em;
}
.virtual-tryon .features ul {
    margin-top: 2em;
    font-size: 1.1em;
}
.virtual-tryon .end {
    padding: 0.5em 4em;
}
.virtual-tryon span {
    padding: 1em;
    background-color: var(--brand);
    color: var(--surface);
}

.ctv {
    background-color: var(--brand50);
    padding-top: 2em;
}
.ctv .content {
    padding: 2em;
    width: 80%;
}
.ctv .content p {
    font-size: 1.5em;
    margin-bottom: 1.5em;
}
.ctv .content a {
    padding: 0.8em;
    background-color: var(--brand800);
    color: var(--surface);
}
#ctv1 {
    width: 18em;
    right: 0;
    bottom: 0;
}

footer {
    font-family: "Satoshi-Regular" !important;
}

.auth-modal-cont {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    background-color: #57b2eb45;
    backdrop-filter: blur(4px);
    z-index: 9999;
    top: 0;
    left: 0;
    padding: 1em;
    display: none;
}
.auth-modal {
    width: 100%;
    max-width: 600px;
    padding: 2em 1em;
    border-radius: 1em;
    background-color: var(--surface);
    box-shadow: 0 0 8px 4px #11111108;
    gap: 1em;
    position: relative;
}
#close-auth-modal-btn {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    width: 2em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
#close-auth-modal-btn:hover {
    background-color: var(--neutral200);
}
#close-auth-modal-btn * {
    color: var(--brand600);
}
.auth-modal > img,
.auth-container > img {
    width: 2.5em;
}
/* #rrter{
    width: 100%;
} */
#modal-login,
#modal-register {
    width: 100%;
    gap: 0.5em;
}
#modal-login .mess,
#modal-register .mess {
    font-size: 0.9em;
    font-weight: 600;
}
#modal-login .mess.success,
#modal-register .mess.success {
    color: var(--green600);
}

#modal-login .mess.error,
#modal-register .mess.error {
    color: var(--red600);
}

.input-cont {
    padding: 0.2em;
    gap: 0.2em;
}
.input-cont label {
    font-size: 0.85em;
    font-weight: 600;
    color: var(--brand800);
}
.input-context {
    border: 1.5px solid var(--neutral200);
    padding: 0.3em;
    border-radius: 0.2em;
}
.input-context:focus-within {
    border-color: var(--brand600);
}
.input-context input {
    font-size: 1.05em;
    padding: 0.2em;
    font-weight: 500;
    width: 100%;
}
.input-context button[type="button"] {
    padding: 0.2em;
}
.input-context button[type="button"] i {
    color: var(--brand500);
}
.input-cont button[type="submit"] {
    width: 100%;
    background-color: var(--brand600);
    padding: 0.5em;
    font-size: 1.05em;
    font-weight: 600;
    color: var(--surface);
    transition: 0.2s ease-in;
    border-radius: 0.2em;
}
.input-cont button[type="submit"]:hover {
    background-color: var(--brand500);
}
.input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}
.auth-tc {
    font-size: 0.75em;
    font-weight: 600;
    margin: 0.5em auto;
}
.auth-tc a {
    text-decoration: underline;
    color: var(--brand600);
}
.auth-form .txt .head {
    font-size: 1.1em;
    font-weight: 600;
}
.auth-form .txt .pre {
    font-size: 0.95em;
    font-weight: 500;
}
.cta-signup {
    margin: 0.5em auto;
}
.cta-signup p {
    font-size: 0.85em;
    font-weight: 600;
}
.cta-signup a {
    color: var(--brand600);
}

.auth-main {
    min-height: 90vh;
}
.auth-container {
    width: 100%;
    padding: 1em;
    max-width: 600px;
    margin-bottom: 2em;
}

.auth-footer {
    padding: 2em;
    background-color: var(--surface-secondary);
}
.auth-footer .org {
    padding: 0.5em;
    gap: 0.5em;
}
.auth-footer .org p {
    gap: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
}
.auth-footer .logo {
    width: 2em;
    border-radius: 50%;
}
.auth-footer .org-name {
    font-size: 1.1em;
    font-weight: 600;
}
.s-lnks {
    gap: 0.5em;
    padding: 0.5em;
}
.m-lnks {
    padding: 0.5em;
    gap: 1em;
}
.m-lnk {
    font-size: 0.8em;
    text-decoration: underline;
    font-weight: 600;
}
.auth-footer .end p {
    color: var(--neutral400);
    font-weight: 600;
    font-size: 0.8em;
}

.pd-main {
}
.pd-core {
    padding: 2em;
}
.pd-core > * {
    flex: 1;
    height: 100%;
}
.pd-gallery {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    padding: 1em;
    gap: 1em;
}

.img-sel {
    width: 100%;
    gap: 0.5em;
}
.img-sel-item {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    border-radius: 0.75em;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--neutral50);
}
.img-sel-item.active {
    border: 1px solid var(--brand500);
}
.m-img-cont {
    border-radius: 0.75em;
    background-color: var(--neutral50);
    overflow: hidden;
}
.m-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pd-deets {
    padding: 1em;
}
.pd-deets .first {
    align-items: start;
    gap: 0.5em;
}
/* .pd-deets > *{
    width: 100%;
} */
.pd-deets .name {
    font-size: 1.7em;
    font-weight: 600;
}

.m-price {
    font-weight: 600;
    font-size: 1.3em;
}
.amt-cont .cur {
    font-size: 0.75em;
    color: var(--neutral600);
    margin-right: 0.3em;
}
.pd-deets .desc {
    font-size: 0.9em;
    color: var(--neutral800);
    font-weight: 500;
}
.line {
    padding: 0.05em;
    background-color: var(--neutral100);
    display: block;
    width: 100%;
}
.pd-deets .line {
    margin: 1.5em auto;
}

.p-items {
}
.p-items .head {
    color: var(--neutral600);
    font-size: 0.9em;
    gap: 0.5em;
}
.p-items .body {
    padding: 0.35em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
}
.p-item-sel {
    background-color: var(--neutral50);
    width: 100%;
    justify-content: space-between;
    /* padding: 0.25em; */
    border-radius: 0.4em;
    border: 1px solid transparent;
    gap: 0.5em;
    overflow: hidden;
}
.p-item-sel .content {
    gap: 0.5em;
    height: 100%;
}
.p-item-sel:hover {
    box-shadow: 0 0 4px #11111152;
}
.p-item-sel .chk {
    display: block;
    width: 1em;
    height: 1em;
    background-color: var(--neutral200);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}
.p-item-sel.selected {
    border-color: var(--brand500);
}
.p-item-sel.selected .chk {
    background-color: var(--brand500);
}
.v-deet {
    gap: 0.05em;
}
.vd p {
    font-size: 0.8em;
}
.amt-add {
    font-size: 0.75em;
}
.p-item-sel .counter {
    width: 100%;
    background-color: var(--surface);
    padding: 0.5em;
}
.p-item-sel .counter button {
    padding: 0.4em;
    background-color: var(--brand500);
    aspect-ratio: 1 / 1;
    border-radius: 0.1em;
}
.p-item-sel .counter button:hover {
    opacity: 0.7;
}
.p-item-sel .counter button:disabled,
.p-item-sel .counter button[disabled="true"] {
    opacity: 0.7;
    cursor: not-allowed;
}
.p-item-sel .counter button i {
    color: var(--surface);
}
.p-item-sel .counter .num {
    padding: 0.15em 1em;
    font-weight: 600;
}
.pd-end {
    gap: 1em;
    padding: 0.35em;
}
.pd-end .selected-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5em;
}
.se-item {
    background-color: var(--neutral50);
    border-radius: 0.1em;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
}
.se-item .vv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
    background-color: var(--brand400);
    height: 100%;
    padding: 0.5em;
}
.se-item .vv p {
    color: var(--surface);
    font-size: 0.7em;
    font-weight: 600;
}
.se-item .qt-c {
    width: 100%;
    height: 100%;
}
.se-item .qty {
    font-weight: 600;
}

.pd-end .atc {
    background-color: var(--brand500);
    width: 100%;
    padding: 0.5em;
    border-radius: 0.25em;
    font-weight: 600;
    font-size: 1.1em;
    color: var(--surface);
}
.pd-end .atc:hover {
    opacity: 0.8;
}
.prm-tags {
    gap: 0.5em;
}
.prm-tags .tag {
    font-size: 0.8em;
    font-family: "Satoshi-Medium";
    padding: 0.1em 0.3em;
    background-color: #0808e4d1;
    color: var(--surface-secondary);
}
.single-counter {
    background-color: var(--brand50);
    height: 100%;
    justify-content: space-between;
    border-radius: 2em;
    overflow: hidden;
}
.single-counter button {
    padding: 0.5em;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.single-counter button:hover {
    background-color: var(--brand50);
}
.single-counter button:disabled,
.single-counter button[disabled="true"] {
    cursor: not-allowed;
}
.cta.s {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    gap: 1em;
}
.cta.s > * {
    width: 100%;
}

.ci-cont {
    padding: 2.5em;
    gap: 1em;
}

.ci-cont .header .title {
    font-size: 1.5em;
    font-weight: 600;
}
.cart-main {
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
    gap: 1em;
}
.cart-main > * {
    /* border: 1px solid #9a9a9a; */
    padding: 0.75em;
    border-radius: 1em;
    height: fit-content;
}
.cart-items {
    gap: 1em;
}
.cart-item {
    padding: 0.5em;
    border-radius: 0.75em;
    box-shadow: 0 1px 10px #5050513b;
}
.cart-item .to-product {
    padding: 0 0.5em;
}
.cart-item .to-product:hover {
    background-color: var(--surface-secondary);
}
.cart-item .to-product * {
    color: var(--brand400);
}
.ci-main {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    gap: 1em;
}
.ci-main .img {
    background-color: var(--surface-secondary);
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.ci-deets {
    height: 100%;
}
.ci-deets .name {
    font-family: "Satoshi-bold";
    font-size: 1.3em;
}
.ci-deets .var-deets {
    width: fit-content;
}
.ci-deets .ci-vd {
    font-family: "Satoshi-medium";
    font-size: 0.85em;
}
.ci-deets .end {
    padding: 0.25em;
}
.ci-deets .pric {
    gap: 0.25em;
}
.ci-deets .pric .cur {
    font-family: "Satoshi-medium";
    font-size: 0.75em;
    color: var(--neutral500);
}
.ci-deets .pric .amt {
    font-size: 1.2em;
    font-family: "Satoshi-bold";
}
.ci-deets .single-counter {
    margin-right: 0.5em;
    gap: 0.35em;
}
.ci-actions {
    padding: 0.25em 1em;
}
.ci-del {
    padding: 0.25em 0.35em;
    gap: 0.25em;
}
.ci-actions button:hover {
    background-color: var(--surface-secondary);
}
.ci-del * {
    color: var(--red500);
    font-size: 0.85em;
    font-family: "Satoshi-medium";
}

.c-sum {
    border: 1px solid var(--brand600);
    position: sticky;
    top: 6em;
}
.c-sum .head {
    font-family: "Satoshi-bold";
    font-size: 1.2em;
}
.c-sum-deets {
    margin: 1em auto;
    gap: 0.5em;
}
.c-sum-entry {
}
.c-sum-entry .k {
    font-size: 0.85em;
    font-family: "Satoshi-medium";
    color: var(--neutral800);
}
.c-sum-entry .v {
    gap: 0.25em;
    font-weight: 700;
}
.c-sum-entry .curr {
    font-size: 0.75em;
    color: var(--neutral500);
}
.c-sum-entry .inf {
    padding: 0.5em 0;
    gap: 0.2em;
}
.c-sum .inf * {
    font-family: "Satoshi-BoldItalic" !important;
    color: var(--neutral500);
    font-size: 0.85em;
}
.c-sum .proceed {
    padding: 0.5em;
}
.cs-cta {
    width: 100%;
    background-color: var(--brand500);
    padding: 0.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    color: var(--surface);
    font-family: "Satoshi-Bold";
}
.total-cont {
    padding: 0.25em 0;
}
.total-cont .k {
    font-size: 1em;
}
.pc {
    margin: 0.5em;
    gap: 0.85em;
}
.pc-inp-context {
    background-color: var(--surface-secondary);
    padding: 0.5em;
    border-radius: 1.5em;
    gap: 0.35em;
    width: 100%;
    margin: 1em auto;
}
.pc-inp-context input {
    font-size: 0.9em;
    font-family: "Satoshi-Medium";
    width: 100%;
}
.pc-inp-context svg * {
    font-size: 1.1em;
    color: var(--neutral300) !important;
}
.pc-act {
    background-color: var(--brand500);
    padding: 0.3em 1.5em;
    height: 100%;
    border-radius: 1.5em;
    font-family: "Satoshi-Medium";
    color: var(--surface);
    font-size: 0.9em;
}

.config-cont {
    gap: 1em;
}
.config-item {
    border-radius: 0.75em;
    box-shadow: 0 0 9px #11111136;
    padding: 0.1em 0.75em;
}
.config-item .title {
    font-size: 1.1em;
    font-family: "Satoshi-Medium";
    padding: 0.5em;
}
.ds .body {
    padding: 0.5em;
    gap: 0.5em;
}
.ds-item {
    border: 1px solid transparent;
    border-radius: 0.5em;
    box-shadow: 0 0 3px #11111136;
    padding: 0.5em;
    transition: 0.25s ease;
}
.ds-item-main {
    gap: 0.5em;
}
.ds-img {
    width: 2.5em;
    aspect-ratio: 1 / 1;
    background-color: var(--brand50);
    border-radius: 0.25em;
}
.ds-deets {
    height: 100%;
    padding: 0 0.5em;
}
.ds-name {
    font-size: 1em;
    font-family: "Satoshi-Medium";
}
.ds-tags {
    padding: 0.15em;
    gap: 0.5em;
}
.ds-tag {
    font-size: 0.65em;
    padding: 0.05em 0.5em;
    background-color: var(--brand300);
    color: var(--surface);
    border-radius: 1em;
}
.ds-item .end {
    height: 100%;
    aspect-ratio: 1 / 1;
}
.ds-item .ind {
    width: 0.75em;
    height: 0.75em;
    border: 1px solid var(--brand500);
    border-radius: 0.15em;
}
.ds-item.s {
    border: 1px solid var(--brand500);
}
.ds-item.s .ind {
    background-color: var(--brand500);
}
.ds-item:hover {
    background-color: var(--surface-secondary);
}

.sha {
    gap: 0.5em;
    padding: 0.5em 0;
}
.sha-item {
    padding: 0.25em;
    border-radius: 0.5em;
}
.sha-deet {
    padding: 0.5em;
}
.sha-deet .txt {
    font: 0.8em "Satoshi-Medium";
}

.sha-item .ind {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--neutral100);
}
.sha-item:hover {
    background-color: var(--surface-secondary);
}
.sha-item.s .ind {
    background-color: var(--brand500);
}
.add-sha-end {
    padding: 0.25em;
}
.add-sha {
    padding: 0.25em 0.5em;
    background-color: var(--neutral600);
    border-radius: 0.5em;
    gap: 0.3em;
}
.add-sha * {
    color: var(--surface);
    font-size: 0.85em;
    font-family: "Satoshi-Medium";
}
.add-sha:hover {
    opacity: 0.9;
}

.categories-core {
    padding: 2em 1em;
}
.categories-core > .head {
    font-size: 22px;
    font-weight: 500;
}
.category-browser-item.native {
    padding: 0;
    overflow: hidden;
}
.category-browser-item.native ul {
    padding: 1em;
}
.category-browser-item.native .root-disp {
    position: relative;
}
.category-browser-item.native .s-image {
    background-color: var(--neutral100);
    background-size: cover;
    background-position: center;
    height: 6em;
}
.category-browser-item.native .root {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1em;
    background-color: #0000004c;
    backdrop-filter: blur(1px);
    font-size: 1.25em;
    font-weight: 500;
    color: var(--neutral100);
}

.pl-main {
    padding: 2em;
}
.pl-meta {
    margin: 2em auto;
}
.pl-dir {
    gap: 0.5em;
    font-size: 0.75em;
}
.pl-dir a {
    text-decoration: underline;
    font-weight: 600;
}
.pl-dir span {
    font-weight: 400;
}

.pl-cont {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    gap: 1em;
}
.pl-cont > div {
    border-radius: 0.75em;
}
.pl-filter-cont {
    border: 1px solid var(--neutral200);
    min-height: 20em;
}
.pl-listing-cont .h {
    margin: 1em auto;
    gap: 1em;
}
.pl-listing-cont .h h1 {
    font-size: 1.5em;
}
.pl-listing-cont .h p {
    font-size: 0.9em;
}
.pl-cont .bod {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
    row-gap: 0.75em;
}
.pl-item {
    width: 100%;
    border-radius: 0.5em;
    overflow: hidden;
}
.pl-item:hover {
    box-shadow: 0 0 9px #0000004c;
}
.pl-item:hover .atc {
    visibility: visible;
}
.pl-item .img {
    width: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    border-radius: 0.1em;
    background-color: var(--neutral100);
    margin-bottom: 0.5em;
    position: relative;
}

.pl-deets {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    padding: 0.5em;
}
.pl-deets .name {
    font-size: 13px;
}
.pl-deets .price {
    font-size: 15px;
}
.pl-deets .desc {
    font-size: 12px;
}
.pl-cta {
    padding: 0.25em;
}
.pl-cta .atc {
    background-color: var(--brand500);
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    color: var(--neutral100);
    visibility: hidden;
}
.star-rating * {
    color: #ebc905;
    font-size: 18px;
}
.star.empty {
    color: #c3c3c3;
}

.pl-pager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin-top: 2em;
    margin: 1em auto;
    width: 40%;
}
.pl-pager a {
    font-size: 14px;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 0.25em;
}

.pl-pager a:hover {
    background-color: var(--neutral200);
}
.pl-pager a.co {
    border: 1px solid var(--neutral100);
    padding: 0.35em 0.75em;
}
.pl-pager a.muted {
    background-color: var(--neutral100);
    color: var(--neutral200) !important;
    cursor: not-allowed;
}
.pl-pager .counter {
    aspect-ratio: 1 / 1;
    padding: 0.75em;
    border: 1px solid var(--neutral200);
    font-weight: 700;
    border-radius: 0.3em;
}

@media (min-width: 768px) {
    .newsletter-form {
        flex-direction: row;
    }

    .footer-links {
        justify-content: space-between;
    }

    .footer-section {
        flex: 1;
    }

    .footer-column {
        flex: 1 1 calc(25% - 20px);
    }

    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1024px) {
    header {
        padding: 1em;
    }
    .org-id img {
        width: 35px;
        height: 35px;
    }
    nav {
        padding: 0.4rem;
    }
    .nav-list {
        gap: 0.8rem;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 768px) {
    .org-id img {
        width: 30px;
        height: 30px;
    }
    .org-id p {
        font-size: 1.1rem;
    }
    .actions-container {
        gap: 0.5rem;
    }
    .open-search-tab {
        display: flex;
    }
    .search-container {
        position: absolute;
        display: none;
        left: -60vw !important;
        top: 3em;
        width: clamp(280px, 80vw, 600px);
    }
    .search-context:hover .search-container,
    .search-context:focus-within .search-container {
        display: flex;
    }
    .search-container input {
        font-size: 0.8em;
    }

    .dress-styles {
        padding: 2em 0;
    }
    .dress-styles .head {
        font-size: 1.2em;
    }
    .dress-styles .content {
        width: 92%;
        padding: 1.5em;
        gap: 1.4em;
    }
    .dress-styles .main > div {
        display: grid;
        gap: 1em;
    }
    .dress-styles a {
        padding: 1em;
        height: 9em;
    }
    .dress-styles .txt {
        font-size: 1em;
    }
    .virtual-tryon {
        margin: 14em auto;
    }
    #vtry1 {
        width: 20em;
        top: -10em;
        left: -5em;
    }
    #vtry2 {
        width: 15em;
        top: 17em;
    }
    .virtual-tryon > .head {
        width: 85%;
        font-size: 1.9em;
    }
    .virtual-tryon .features {
        padding: 3em;
    }
    .virtual-tryon .features .pre {
        font-size: 1em;
    }
    .virtual-tryon .features ul {
        margin-top: 2em;
        font-size: 0.9em;
    }
    .virtual-tryon span {
        padding: 0.8em;
    }
    .ctv .content {
        padding: 1em;
    }
    .ctv .content p {
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    #ctv1 {
        width: 12em;
    }
}

@media screen and (max-width: 600px) {
    header.main {
        padding: 0.7em !important;
    }
    .open-m-nav {
        display: flex;
    }

    nav {
        z-index: 19;
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100vw;
        height: 100vh !important;
        background-color: var(--surface);
        align-items: flex-start !important;
        justify-content: flex-start;
    }
    nav.open {
        animation: slide-in 0.2s ease-in forwards;
    }
    nav.close {
        animation: slide-out 0.1s ease forwards;
    }
    .nav-list {
        gap: 1rem;
        font-size: 1.2rem;
        flex-direction: column;
        padding: 1em;
        align-items: start !important;
    }
    .nav-item {
        padding: 0.1em;
    }
    .nav-flow {
        flex-direction: column;
        align-items: start !important;
    }
    .nav-flow i {
        display: none;
    }
    .nav-flow .flow {
        padding: 1em;
        background-color: var(--surface);
        position: static;
        opacity: 1;
        display: flex;
    }
    #m-nav {
        height: 100vh;
        overflow-y: scroll;
    }
    .nav-category-listing {
        width: 100% !important;
    }
    .nav-category-listing .head {
        flex-direction: column !important;
        align-items: start !important;
    }
    .nav-category-listing .body {
        display: none !important;
    }
    .cat-flow-cont-d {
        display: none !important;
    }
    .cat-flow-cont-m {
        display: flex;
    }
    .close-m-nav {
        display: flex;
        top: 2em;
        right: 2em;
    }
    .actions-container {
        gap: 0.3em;
    }
    .user-center {
        padding: 0.5rem 0;
        gap: 0.1rem;
    }

    .hero-section {
        background-size: auto 100%;
    }
    .hero-main .head .m {
        font-size: 28px;
        line-height: 40.35px;
    }
    .hero-main .head .t {
        font-size: 16px;
        letter-spacing: 0%;
        margin-top: 1em;
    }
    .hero-show {
        width: 100vw;
    }
    .hero-show img {
        width: 100%;
    }
    .hero-card {
        min-width: 6em;
    }
    .hero-card .h {
        font-size: 16px;
    }
    .hero-card .t {
        font-size: 12px;
        line-height: 18.6px;
    }
    .hc-1 {
        top: 4em;
        left: 1em;
    }
    .hc-2 {
        top: 0;
        right: 1em;
    }
    .hc-3 {
        bottom: 2.5em;
        left: 1em;
    }
    .hc-4 {
        bottom: 5em;
        right: 2em;
    }
    .flash-sales {
        margin: 2rem auto;
    }
    .listing-head-1 {
        font-size: 16px;
        margin: 0.5em 1em;
    }
    .listing-card {
        padding: 1em 1em;
        grid-template-columns: repeat(2, 1fr);
    }
    .dress-styles .head {
        font-size: 2em;
    }
    .dress-styles .main > div:nth-child(1) {
        grid-template-columns: 1fr;
    }
    .dress-styles .main > div:nth-child(2) {
        grid-template-columns: 1fr;
    }
    .dress-styles .txt {
        font-size: 1.3em;
    }
    .check-out-categories .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
        padding: 1em;
    }

    .virtual-tryon {
        margin: 10em auto;
    }
    #vtry1 {
        width: 17em;
        top: -5em;
        left: -5em;
    }
    #vtry2 {
        width: 12em;
        top: 15em;
    }
    .virtual-tryon > .head {
        width: 95%;
        font-size: 1.3em;
    }
    .virtual-tryon .features {
        padding: 2em;
    }
    .virtual-tryon .features .pre {
        font-size: 0.95em;
    }
    .virtual-tryon .features ul {
        font-size: 0.85em;
    }
    .virtual-tryon .end {
        padding: 0.5em 3em;
    }
    .ctv {
        flex-direction: column;
        gap: 1em;
    }
    .ctv .content {
        width: 100%;
    }
    .ctv .content p {
        font-size: 1em;
        margin-bottom: 2em;
    }
    .ctv .content a {
        padding: 0.75em;
    }
    #ctv1 {
        /* width: 18em; */
        right: 0;
        bottom: 0;
        position: relative;
    }
    .auth-footer .top {
        flex-direction: column;
        align-items: center;
    }
    .auth-footer .top > * {
        width: 100%;
    }
    .auth-footer {
        padding: 2em 1em;
    }
    .auth-footer .logo {
        width: 2.5em;
    }
    .auth-footer .org-name {
        font-size: 1.3em;
    }
    .m-lnks {
        justify-content: center;
    }
    .auth-footer .end p {
        margin-top: 2em;
    }
    .input-group {
        grid-template-columns: 1fr;
    }

    .pl-main {
        padding: 1em;
    }
    .pl-meta {
        margin: 1em auto;
    }
    .pl-dir {
        font-size: 0.8em;
    }
    .pl-cont {
        display: block;
        position: relative;
    }
    .pl-filter-cont {
        position: fixed;
        transform: translateY(100vh);
        border: none;
        background-color: var(--surface);
    }

    .pl-listing-cont .h h1 {
        font-size: 1.4em;
    }
    .pl-listing-cont .h p {
        font-size: 0.85em;
    }
    .pl-cont .bod {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75em;
    }
    .pl-item .img {
        border-radius: 0.1em;
    }
    .pl-deets .name {
        font-size: 14px;
    }
    .pl-deets .price {
        font-size: 15px;
    }
    .pl-deets .desc {
        font-size: 11px;
    }
    .pl-cta {
        padding: 0.25em;
    }
    .pl-cta .atc {
        visibility: visible;
    }
    .pl-pager {
        margin-top: 3em;
        width: 70%;
    }
}

@keyframes fade-opacity-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slide-in {
    from {
        top: -100vh;
        /* opacity: 0; */
    }
    to {
        top: 0;
        /* opacity: 1; */
    }
}
@keyframes slide-out {
    from {
        top: 0;
    }
    to {
        top: -100vh;
    }
}
