.container {
  width: 100vw;
  display: flex;
}
.item {
  width: 250px;
  margin: 10px 0;
  padding-left: 27px;
}
/* .item:hover {
  transition: 0.4s;
  transform: scale(1.1, 1.1);
} */
.info1 {
  display: flex;
  width: 90%;
}
.info1 p {
  /* padding-bottom: 60px; */
  width: 90%;
}
.info1 img {
  margin-top: 10px;
}
.item p {
  margin: 6px 0px;
  font-size: 18px;
  font-weight: 600;
}
.emoji {
  height: 20px;
  /* position: relative;
  left: 175px;
  bottom: 60px; */
}
.btns {
  position: relative;
  width: 100%;
  display: flex;
  gap: 15px;
  margin: 0;
}
.btn-small {
  background-color: #001a3e;
  color: white;
  padding: 3px;
  width: 40%;
  font-size: 1em;
  border-radius: 10px;
}
.btn-small2 {
  width: 40%;
  height: 40px;

  background-color: #7ab1fa;
  border-radius: 10px;
}
