@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section{
    background-image:url("/images/pexels-godisable-jacob-226636-784371 2.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    margin:0 auto;
    width:100%;
}