@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-heading {
  background-image: url("/images/pexels-godisable-jacob-226636-784371 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
}
.test {
  width: 13.5%;
  /* margin:0 auto; */
}
.bestbox {
  width: 15.9%;
}
.explore1 {
  width: 15.5%;
}
.explore2 {
  width: 33%;
}
.explore3 {
  width: 10%;
}
.signupbg{
  background-image:url(../public/images/e0ba56b59c7.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:left;
  width:100%;
}