:root {
    --bg_color_primary: #ffffff;
    --bg_primary_color_2: #e6f7ff;
    --bg_secondary_color_2: #002366;
    --bg_secondary: #E6F7FF;
    --text_color_1: #333333;
    --text_color_2: #002366;
    --text_color_5: #ffffff;
}

.txt-1 {
    color: var(--text_color_1);
}
.txt-2 {
    color: var(--text_color_2);
}
.txt-3 {
    color: var(--text_color_3);
}


.scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: #c3c3c3 #dfe9eb;
}

/* Chrome, Edge and Safari */
.scroll-bar::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
.scroll-bar::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #dfe9eb;
}

.scroll-bar::-webkit-scrollbar-track:hover {
    background-color: var(--bg_primary_color_2);
}
.scroll-bar::-webkit-scrollbar-track:active {
    background-color: #b8c0c2;
}

.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--text_color_1);
}

/* .scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: #62a34b;
}

.scroll-bar::-webkit-scrollbar-thumb:active {
    background-color: #62a34b;
} */
